<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/apfinaldummy</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mapping files -->
        <!-- Add your mapping files here if you are using XML mapping -->
        <!--<mapping resource="com/example/YourEntity.hbm.xml"/>-->

        <!-- Annotated classes -->
        <!-- Add your annotated entity classes here -->
        <!--<mapping class="com.example.YourEntity"/>-->
	    <!-- <mapping class="models.Student"/> -->
       <!--  --> <mapping class="Models.User"/>
       <!--  --> <mapping class="Models.Customer"/>
        <!-- Enable logging -->
        <!-- <property name="hibernate.show_sql">true</property> -->
        <!-- <property name="hibernate.format_sql">true</property> -->

        <!-- Enable second-level cache (optional) -->
        <!--<property name="hibernate.cache.use_second_level_cache">true</property>-->
        <!--<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>-->
    </session-factory>
</hibernate-configuration>